<section class="flex flex-col items-center justify-center min-h-screen dark:bg-gray-900 mt-16">
    <div class=" mx-auto md:max-w-screen-2xl w-3/4 text-center">
        <h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Lengkapi Data Anda untuk Pengalaman Belajar yang Optimal!</h1>
        <p class="mb-8 text-base font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Selamat datang di halaman input data mahasiswa! Silakan lengkapi informasi di bawah ini agar kami dapat menyediakan layanan terbaik dan mempersonalisasi pengalaman belajar Anda. Data yang Anda masukkan akan dijaga kerahasiaannya sesuai dengan kebijakan privasi kami.</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a href="/add" class="hover:-translate-y-2 active:translate-y-0 transition duration-200 ease-in-out inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Ayo input!
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
            <a href="#" class="hover:-translate-y-2 active:translate-y-0 transition duration-200 ease-in-out py-3 px-5 sm:ms-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                Need Help?
            </a>  
        </div>
    </div>
</section>
<section class=" dark:bg-gray-900 min-h-screen">
    <div class="mx-auto md:max-w-screen-xl w-3/4 text-center">
        <h1 class="md:text-5xl text-3xl font-extrabold  text-gray-900 dark:text-white py-8">Check Nama Kamu Disini⬇</h1>
    <div class="flex justify-center">
        <div class=" overflow-x-auto shadow-md rounded-lg">
            <table class="text-sm text-left rtl:text-right  text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Nama
                        </th>
                        <th scope="col" class="px-6 py-3">
                            NIM
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Email
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Jurusan
                        </th>
                        <th scope="col" colspan="2" class="px-6 py-3 text-center">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% if (locals.mahasiswa) { %>
                     <% mahasiswa.forEach(m => { %>
                    <tr class=" odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <%= m.nama %>
                        </th>
                        <td class="px-6 py-4">
                            <%= m.nim %>
                        </td>
                        <td class="px-6 py-4">
                            <%= m.email %>
                        </td>
                        <td class="px-6 py-4">
                            <%= m.jurusan %>
                        </td>
                        <td class="px-6 py-4">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Hapus</a>
                        </td>
                        <td class="px-6 py-4">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                        </td>
                    </tr>
                </tbody>
                        <% }) %>
                        <% } else { %>
                            <td colspan="6" class="px-6 py-4 text-center">
                                Tidak ada data mahasiswa.
                            </td>
                    <% } %>
            </table>
        </div>
    </div>
</div>
</section>