<section class="bg-gray-50 dark:bg-gray-900 min-h-screen mt-16 md:py-12 py-12 flex">
    <form class="max-w-4xl p-8 mx-auto" action="/update/<%= mhs.id %>" method="POST">
        <h1 class="text-4xl font-bold text-gray-900 dark:text-white mb-5">Update Data Student</h1>

        <div class="mb-5">
            <label for="nama" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Nama</label>
            <input type="text" name="nama" id="nama" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Masukkan Nama Anda" required />
        </div>
        <div class="mb-5">
            <label for="nim" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">NIM</label>
            <input type="text" name="nim" id="nim" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Masukkan NIM Anda" required />
        </div>
        <div class="mb-5">
            <label for="jurusan" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Jurusan</label>
            <input type="text" name="jurusan" id="jurusan" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Masukkan Jurusan Anda" required />
        </div>
        <div class="text-center">
            <button type="submit" class="text-white  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Update Data Student</button>
        </div>
    </form>
</section>
